# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.env
*.env.*
.venv/
venv/
ENV/
env/
*.egg
*.egg-info/
dist/
build/
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environment
*.virtualenv

# PyTest and Coverage
htmlcov/
.cache/
.coverage
.tox/
.nox/
.pytest_cache/

# LLM-related
*.llm-cache
*.checkpoint
*.model
*.tokenizer
output.log
results.json

# JavaScript/Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
coverage/

# HTML/CSS
*.css.map
*.js.map

# General
.DS_Store
Thumbs.db
*.bak
*.swp
*.tmp
*.old

# Editor-specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
Desktop.ini

# pdfs
*.pdf

# txt files
*.txt
.devcontainer/devcontainer.json
docker-compose.yml
Dockerfile
environment.yml
