<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Example Web Page with Safqore AI Chat Bot</title>
</head>
<body>

    <h1>Example web page with Safqore AI Chat Bot</h1>
    <p>
        Embed the following code to use this chat bot on your website: <pre>&lt;script src=&quot;https://rstmh-ai-agent-cdn.onrender.com/chat-widget.js&quot; defer&gt;&lt;/script&gt;</pre>
    </p>

    <!-- Scripts -->
    <script>
        const BASE_URL = "{{ base_url }}";
    </script>
    <script src="{{ script_base_url }}/chat-widget.js" defer></script>

   </body>
</html>
